html {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  font-size: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #2889fc;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0.5rem;

  @media only screen and (min-width: 32.5rem) {
    text-align: center;
  }
}

.borderCircle {
  border-radius: 9999px;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
}

.headingMd {
  max-width: 32rem;
  text-align: center;
  padding: 0 0.25rem;

  @media only screen and (min-width: 32.5rem) {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  p {
    padding-bottom: 1rem;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.25s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
